<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
    <body>
        <h1>Bienvenu <span th:utext="${session.utilisateurSession.getPrenom()}"></span>
        <span  th:utext="${session.utilisateurSession.getNom()}" ></span> </h1>

        <div id="divNavigation" th:include="menuNavigation"></div>

        <h2>Ajouter un trajet</h2>

        <div id="divFormAddTrajet">
            <form th:action="@{/calculTrajet}" method="post">
                <table>
                    <tr>
                        <th>Date du trajet</th>
                        <th>Type (aller/retour)</th>
                    </tr>
                    <tr >
                        <td>
                            <input type="date" th:value="${newTrajet.date_trajet}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${newTrajet.route}"/>
                        </td>
                    </tr>
                </table>
                <table title="Adresse Depart">
                    <tr>
                        <th>Numéro</th>
                        <th>Type de rue</th>
                        <th>nom de rue</th>
                        <th>code postal</th>
                        <th>ville</th>
                        <th>region</th>
                    </tr>
                    <tr >
                        <td>
                            <input type="text" th:value="${adresseDepart.numero}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseDepart.type_rue}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseDepart.nom_rue}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseDepart.code_postal}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseDepart.ville}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseDepart.region}"/>
                        </td>
                    </tr>
                </table>
                <table title="Adresse Arrivée">
                    <tr>
                        <th>Numéro</th>
                        <th>Type de rue</th>
                        <th>nom de rue</th>
                        <th>code postal</th>
                        <th>ville</th>
                        <th>region</th>
                    </tr>
                    <tr >
                        <td>
                            <input type="text" th:value="${adresseArrivee.numero}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseArrivee.type_rue}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseArrivee.nom_rue}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseArrivee.code_postal}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseArrivee.ville}"/>
                        </td>
                        <td>
                            <input type="number" th:value="${adresseArrivee.region}"/>
                        </td>
                    </tr>
                </table>
                <button type="submit">Ajouter</button>
            </form>
        </div>


   </body>
</html>
