<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Bienvenu <span th:utext="${session.utilisateurSession.getPrenom()}"></span>
    <span  th:utext="${session.utilisateurSession.getNom()}" ></span> </h1>

<div id="divNavigation" th:include="menuNavigation">

</div>


<h2>Mes trajets</h2>

<div id="divListeTrajets">
    <table>
        <tr>
            <th></th>
            <th>Date du trajet</th>
            <th>Depart</th>
            <th>Arrivée</th>
            <th>Distance</th>
        </tr>
        <tr th:each ="trajet : ${listeTrajets}">
            <td th:utext="${trajet.date_trajet}"></td>
            <td th:utext="${trajet.adresse_depart.ville}">...</td>
            <td th:utext="${trajet.adresse_arrivee.ville}">...</td>
            <td th:utext="${trajet.distance}">...</td>
        </tr>
    </table>
</div>

<h2>Mes notifications</h2>

<div id="divListeNotifications">
    <table>
        <tr>
            <th>Contact</th>
            <th>Date</th>
            <th>Commentaire</th>
        </tr>
        <tr th:each ="notification : ${listeNotification}">
            <td th:utext="${notification.getUtilisateur_destinateur().getNom()}"></td>
            <td th:utext="${notification.getDate_notification()}">...</td>
            <td th:utext="${notification.getCommentaire()}">...</td>
        </tr>
    </table>
</div>


   </body>
</html>
