<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Welcome</h1>
        <h2>Identification :</h2>
<form th:action="@{/Authentificate}" method="post">
    <label>Email : </label>
    <input type="text" th:field="${utilisateur.email}">
    <label>Mot de passe : </label>
    <input type="text" th:field="${utilisateur.mdp}">
    <button type="submit"> Connection</button>
</form>
   </body>
</html>
