<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="menuNavigation">
      <a th:href="@{/home}">Accueil</a>
      <a th:href="@{/addTrajetControl}">Ajout Trajet</a>
      <a th:href="@{/vehiculesControl}">Mes véhicules</a>
      <a th:href="@{/compteControl}">Mon compte</a>
</div>