<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
          <meta charset="UTF-8" />
          <title>Welcome</title>
          <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
       </head>
   <body>
      <h1>Bienvenu <span th:utext="${session.utilisateurSession.getPrenom()}"></span>
    <span  th:utext="${session.utilisateurSession.getNom()}" ></span> </h1>

<div id="divNavigation" th:include="menuNavigation">

</div>


<h2>Mes véhicules</h2>

<div id="divListeVehicules">
    <table>
        <tr>
            <th>Marque</th>
            <th>Modele</th>
            <th>Puissance</th>
            <th>Immatriculation</th>
        </tr>
        <tr th:each ="vehicule : ${listeVehicule}">
            <td th:utext="${vehicule.getMarque()}"></td>
            <td th:utext="${vehicule.modele}"></td>
            <td th:utext="${vehicule.puissance}"></td>
            <td th:utext="${vehicule.immat}"></td>
        </tr>
    </table>
</div>

   </body>
</html>
